<%- include("partials/header") %>


    <header>
        <nav><a href="#">Weather Now</a></nav>
    </header>
    
    
    <div class="form">
        <form action="/" method="POST">
            <input type="text" placeholder="Enter City Name" name="city">
            </form>
    </div>


<%- include("partials/footer") %>
