.form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  form{
      input{
          font-size: 1.7rem;
          padding: .6rem;
          text-align: center;
          border-radius: 30px;
          outline: none;
      }
  }
}

@media screen and (max-width: 450px)
{
   .form{
     height: 7vh;
     width: 80%;
     margin: 10px auto;
     form{
       width: 100%;
       input{
         width: 100%;
       }
     }
   }
}