*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Merriweather', serif;
    font-size: 5rem;
    color: white;
    background-color: #638FCD;
    overflow-x: hidden;
    width: 100vw;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

@import 'header';
@import 'form';
@import 'main';
@import 'footer';

